.billing-hldr {
  margin-top: 1rem;
  text-align: center;
  width: 50%;
  margin: 20px auto;
}
.billing-form {
  margin: auto;
  padding-bottom: 15px;
}
.billing-title {
  font-size: 1.3rem;
}
.form-field {
  padding: 3rem;
}
td {
  padding-right: 8px;
}
.full-width {
  width: 100%;
}
