<div class="box_row" *ngIf="cartBookCount > 0; else emptyCart">   
  <!-- <div class="box_column" *ngFor="let book of cartItems; let index = index">
    <div class="inner_box">
      <b>{{ book?.volumeInfo?.title }}</b>
      <img src="{{book?.volumeInfo?.imageLinks?.smallThumbnail
      }} || ../../../assets/images/book-cover-not-available.jpg" alt="{{ book?.volumeInfo?.title }}"><br/>
      
      <p>  Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator. Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.  </p>
      <h5> <b> Written by:</b></h5>
       <p>{{ book?.volumeInfo?.authors?.join(', ') }}</p>
       <mat-icon class="qty-item stepper-border" (click)="removeCartItem(book)">remove</mat-icon>
    </div>
  </div> 
  <div class="btn-proceed">
    <button mat-button class="checkout-btn" (click)="proceedToBuy()">
      PROCEED TO PURCHAGE
    </button>
  </div> -->
  <app-book  [books]=cartItems [page]="page" (bookData)='removeCartItem($event)'>
    <div class="btn-proceed">
      <button mat-button class="checkout-btn" (click)="proceedToBuy()">
        PROCEED TO PURCHAGE
      </button>
    </div>
  </app-book>
</div>

<ng-template #emptyCart>
  <app-empty-cart></app-empty-cart>
</ng-template>
