.search-bar-hldr {
  text-align: center;
}
.books-hldr {
  text-align: center;
}
.book-card {
  width: 370px;
  text-align: center;
  padding: 30px;
  background-color: #e0e0e0;
  margin: 10px;
  display: inline-block;
}
.book-card > img {
  height: 200px;
  width: 150px;
  cursor: pointer;
}
.book-card mat-card-content {
  margin: 0;
}
.btn {
  width: 100%;
  color: white;
  margin: 5px 0 !important;
}
.buynow {
  background-color: #009688;
}
.addtocart {
  background-color: #f57c00;
}
.instock {
  color: green;
  font-weight: bold;
}
.outofstock {
  color: red;
  font-weight: bold;
}
.amount {
  color: #757575;
}
.price-details {
  line-height: 1.5;
}
.empty-collection-hldr {
  text-align: center;
}
.empty-collection-hldr img {
  width: 200px;
  padding: 20px;
}
.empty-collection-hldr div:nth-child(2) {
  font-size: 40px;
  font-weight: 500;
  color: #616161;
  margin-bottom: 5px;
}
.message {
  font-size: 20px;
  font-weight: 100;
}


.box_row{
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

// .box_column{
//   -webkit-box-flex: 0;
// -ms-flex: 0 0 47%;
// flex: 0 0 47%;
// max-width: 47%;
// position: relative;
// width: 100%;
// padding: 1rem;
// }

// .box_column  h2{
//   font-size:24px;
// }


// .box_column .inner_box img{
// float: right;
// width: 104px;
// height: 53px;
// }
// .box_column .inner_box h2{
//   float: left;
// }

// .box_column .inner_box h5{
//   float: left;
//   width: 100%;
//   margin: 0px;
// }

// .box_column .inner_box h6{
//   float: left;
//   width: 100%;
// }

// .box_column .inner_box p{
//   float: left;
// margin-top: 10px;
// }

// .box_column .inner_box{
//   box-shadow: 0px 0px 16px 0px #756e6e70;
//   padding: 1rem;
//   min-height: 265px;
//   box-shadow: 0px 0px 16px 0px #756e6e70;
//   padding: 1rem;
//   height: 150px;
// }
